html {
    font-size: 62.5%;
}


.header {
    background-color: antiquewhite;
    padding: 0;
    border-radius: 10px;
    border: 2px solid cadetblue;
    margin-bottom: 10px;
    
}

.header__title{
    color:cadetblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    width: 50%;
    font-size: 5rem;
    letter-spacing: 3rem;
    margin: 10px auto;
}

.header__figure{
    text-align: center;
    margin:0;
    border: 0;
    
}

.header__img {
    /* border: 2px solid  cadetblue; */
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
    width: 100%;
    margin:0 auto;
}

.nav{
    margin: 0;
    list-style: none;
    padding-left: 0;
    border-radius: 10px;
    padding-top: 5px;
    margin-bottom: -10px;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

.nav__item{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid azure;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: cadetblue;
    width:300px;
    height: 30px;
}

.nav__item:hover{
    background-color:aqua;   
}

.nav__item:active{
    background-color:chartreuse;   
}

.nav__link{
    color:azure;
    text-decoration: none;
    font-size: 2rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.article__paragrahs{
    box-sizing: border-box;
    font-size:1.6rem;
    
}

.container{
    display: flex;
    text-align: center;
    max-width: 100%;
    border-bottom: 1rem solid cadetblue ;
}

.article__img{
    box-sizing: border-box;
    height: 15rem;
    width: 20rem;
    padding: 0;
    margin: 0;
}

.article__img{
    border: 0.2rem solid cadetblue;
    border-radius: 1rem;
    
}


.article figure figcaption{
    background-color: cadetblue;
    margin: 0;
    color:azure;
    border-radius: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0.05rem;
    max-width: 20rem;
    margin: 0 auto;
}


.article__video video{
    width: fit-content;
}


.main {

    background-color:antiquewhite;
    border-radius: 10px;
    border: cadetblue solid 2px;
    margin-bottom: 5px;
    width: "100%";
}


.article{
    margin: 4rem;
    max-width: 100%;
    justify-content: center;
    
}

.article__title{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:azure;
    background-color: cadetblue;
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
}

.article__paragrahs{
    text-align: justify;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:cadetblue;
    
}

.article__link{
    text-decoration: none;
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 3rem;
    color: cadetblue;
}


.article__video video{
    border: 0.1rem solid cadetblue;
    border-radius: 1rem;
    text-align: center;
    padding: 0;
    background-color: azure;
    
}

footer {
    background-color: antiquewhite;
    display: center;
    text-align: center;

    margin-bottom: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    border: cadetblue solid 0.2rem;
        
    color: cadetblue;
    font-family: 'Courier New', Courier, monospace;
    font-style:oblique;
    font-size: 2rem;
    font-weight:bolder;

}

    