header {
    background-color: antiquewhite;
    padding: 20px;
    display: center;
    text-align: center;
    border-radius: 10px;
    border: aqua solid 2px;
    margin-bottom: 10px;
}

#magtowa {
    border: 2px solid  cadetblue;
    border-radius: 10px;
    
}

.fotosInicilaes {
    border: 2px solid  cadetblue;
    border-radius: 10px;
    height: 250px;
    width: 300px;
}

main {
    display: flex;
    background-color:antiquewhite;
    text-align: center;
    border-radius: 10px;
    border: aqua solid 2px;
    margin-bottom: 10px;
    width: "100%";
    padding: 100px;
}

footer {
    background-color: antiquewhite;
    padding: 20px;
    display: center;
    text-align: center;
    border-radius: 10px;
    border: aqua solid 2px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 100px;

}

